---
- name: Install xremap via cargo
  shell: "{{ user_home }}/.cargo/bin/cargo install xremap --features x11"
  become: false

- name: Create xremap config directory
  file:
    path: "{{ user_home }}/.config/xremap"
    state: directory

- name: Copy xremap config
  copy:
    src: colmak-dh.yaml
    dest: "{{ user_home }}/.config/xremap/config.yaml"
    mode: "0644"

- name: Copy xremap systemd service
  copy:
    src: xremap.service
    dest: "{{ user_home }}/.config/systemd/user/xremap.service"

- name: Add user to input group
  user:
    name: "{{ ansible_user }}"
    groups: input
    append: yes

- name: Reload user systemd
  systemd:
    daemon_reload: yes
    scope: user

- name: Enable xremap service
  systemd:
    name: xremap.service
    enabled: yes
    state: started
    scope: user
